.container {
  margin-bottom: 50px;
}
.carousel-item {
  padding: 50px 50px;
  background-color: #feeae9;
  border: none;
  border-radius: 10px;
}
.price {
  color: #ff136f;
  font-weight: 700;
}
.buy-now {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
